# folders and files to be ignored by git

############
## Bones
############

Bones.esproj/

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

.svn

*.codekit
*.scssc

/vendor/

###Wordpress Files & Directories####
/post-formats/
404.php
.php
footer.php
page.php
index.php
style.css
composer.json
archive.php
/library/images/
/library/css/
/library/bones.php
/library/admin.php
/library/translation/
/library/scss/editor-style.scss
/library/scss/ie.scss
/library/scss/login.scss
/library/scss/config.rb
/library/js/libs
