/******************************************************************
Site Name:
Author:

Stylesheet: Download Modal Stylesheet

******************************************************************/


.page-template-contact-modal {
    max-width: 700px;
    overflow-y: hidden;

    #container{   
        display: none;
    }
}
#about-modal{
    background-color: $black;
    border: 5px $accent-color solid;
    max-width: 100%;
    padding: 30px;
    overflow-y: hidden;
    h2, p{
    color: white;
    }

    #about-title {
        margin-top: 0;
        text-align: center;
    }

    #about-text{
        padding-bottom: 30px;
        border-bottom: 2px solid white;
        margin: 30px 0;
    }

    #contact-btn-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h3 {
            margin: 0;
            color: white;
        }
        #contact-btn { 
            max-height: 33px;
            margin: 10px 0 0 0;
        }
    }

        
    .fancybox-close-small svg{
        filter: invert(100%) sepia(5%) saturate(7470%) hue-rotate(207deg) brightness(109%) contrast(100%);
    }

}

@media only screen and (min-width: 1250px){
    #about-modal {
        max-width: 700px;
        
        #about-title{
            text-align: initial;
        }

        #contact-btn-wrapper {
            display: inline-flex;
            flex-direction: row;
            text-align: initial;

            #contact-btn { 
                margin: 0 0 0 20px;
            }
    
        }

    }
}

//Contact Form Styles
#contact-wrapper{
    #contact-title {
        margin-top: 0;
    }
    
    .af-field{
        color: white;
        border: none;
    }

    .af-field-contact-rules {
        .af-label {
            display: none;
        }
    }

    .af-spinner,
    .acf-spinner {
        height: 20px;
        width: 20px;
        margin-left: 10px;
        vertical-align: text-top;
        background: transparent url(../images/spinner.gif) no-repeat 50% 50%;
        display:none;
    }

    .acf-error-message {
        display: none;
    }

    .acf-error-message ~ ul {
        background-color: red;
        padding-left: 10px;
    }

}