/******************************************************************
Site Name: Secretly Y'all Archive
Author: Jess Izen

Stylesheet: Button Styles

******************************************************************/

/*********************
BUTTON DEFAULTS

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  line-height: 25px;
  font-weight: bold;
  padding: 0 12px;
  border-radius: 4px;
  border: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button


%sy-btn {
 @extend %btn; // here we load the btn defaults
  background-color: $accent-color;
  color: #002517;

  &:visited {
    background-color: darken($accent-color, 10%);
  }
   &:hover,
  &:focus {
    background-color: darken($accent-color, 5%);
  } // end hover

  &:active {
    background-color: darken($accent-color, 10%);
    
  } // end active
 // end listen button  
}

.blue-btn {
  @extend %sy-btn;
}

.sy-btn{
  @extend %sy-btn;
}


.player-btn {
  @extend %sy-btn;
  display: inline-block;
  padding: 10px 15px;
  width: 115px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  
}

%icon-btn{
  cursor: pointer;
  filter: invert(87%) sepia(39%) saturate(207%) hue-rotate(107deg) brightness(93%) contrast(83%);
  &:hover,
  &:focus {
    filter: invert(87%) sepia(39%) saturate(207%) hue-rotate(107deg) brightness(75%) contrast(83%);
  }
}

.icon-btn {
  @extend %icon-btn;
  color: white;
  height: 64px;
  width: 64px;
}

.icon-btn-small {
  &:visited{
    background-color: #525252;
    }
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-color: $black;
  background-blend-mode: screen;

  &:hover,
  &:focus  {
    background-color: #525252;
    filter: brightness(80%);
  }



}