/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  line-height: 25px;
  font-weight: bold;
  padding: 0 24px;
  border-radius: 4px;
  border: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button


%sy-btn {
 @extend %btn; // here we load the btn defaults
  background-color: $accent-color;
  color: #002517;
  font-weight: bold;

  &:visited {
    background-color: darken($accent-color, 10%);
  }
   &:hover,
  &:focus {
    background-color: darken($accent-color, 5%);
  } // end hover

  &:active {
    background-color: darken($accent-color, 10%);
    
  } // end active
 // end listen button  
}

.blue-btn {
  @extend %sy-btn;
}

.sy-btn{
  @extend %sy-btn;
}


.player-btn {
  @extend %sy-btn;
  display: inline-block;
  vertical-align: middle;
}

.icon-btn {
  cursor: pointer;
  height: 64px;
  width: 64px;
  filter: invert(87%) sepia(39%) saturate(207%) hue-rotate(107deg) brightness(93%) contrast(83%);
  &:hover{
    filter: invert(87%) sepia(39%) saturate(207%) hue-rotate(107deg) brightness(75%) contrast(83%);
  }
}

