/******************************************************************
Site Name:
Author:

Stylesheet: Modified Mediaelements.js Widget Stylesheet

******************************************************************/

//changes default mediaelements.js-based audio player styles, only within the 'listen' audio player
#audio-embed {


  .mejs-container {
  height:64px !important;
  background-color: $black;
  display: inline-block;
  }

  .mejs-controls {
  height: 64px;
  background-color: $black;
  padding: 0;
  }

  @media only screen and (max-width: 1100px) {
    .mejs-controls{
    padding: 0 25px 0 25px;
    }
  }


  .mejs-playpause-button {
    margin-right: 15px;
    width: 0px;
    @media only screen and (max-width: 1100px) {
    margin: 0px;
    }
  }

  .mejs-playpause-button button{
    height: 64px;
    width: 64px;
    margin: 0px;
    filter: invert(87%) sepia(39%) saturate(207%) hue-rotate(107deg) brightness(93%) contrast(83%);
    &:hover{
      filter: invert(87%) sepia(39%) saturate(207%) hue-rotate(107deg) brightness(75%) contrast(83%);
    }
    @media only screen and (max-width: 1100px) {
    margin-top: 70px;

      }
    }
  .mejs-play button{
    background:transparent url(../images/play.svg);
  }


  .mejs-pause button{
    background:transparent url(../images/pause.svg);
  }


  .mejs-currenttime-container {
    height: 18px;
    padding-top: 0px;
    margin-top: 21px;
    font-size: 18px;
    line-height: 18px;
    @media only screen and (min-width: 1100px) {
      margin-left: 64px;
    }

  }

  .mejs-time-rail {
    height: 30px;
    padding-top: 0px;
    margin-top: 15px;
    max-width: 850px;
    }

  .mejs-time-total,
  .mejs-time-buffering,
  .mejs-time-loaded,
  .mejs-time-current,
  .mejs-time-hovered,
  .mejs-time-handle-content {
    height: 30px;
    margin-top: 0px;
  }
  

  .mejs-time-current {
    background: $accent-color;
  }

  .mejs-time-loaded,
  .mejs-time-hovered {
    background:rgba(255,255,255,.1)
  }

.mejs-time-rail .mejs-time-handle-content:active,
.mejs-time-rail .mejs-time-handle-content:focus,
.mejs-time-rail:hover .mejs-time-handle-content {
  -webkit-transform:scale(1);
  -ms-transform:scale(0);
  transform:scale(0)
}

  .mejs-duration-container{
    height: 18px;
    padding-top: 0px;
    margin-top: 21px;
    font-size: 18px;
    line-height: 18px;
  }

  .mejs-volume-button {
    height: 18px;
    margin-top: 21px;
    filter: brightness(0) saturate(100%) invert(87%) sepia(39%) saturate(207%) hue-rotate(107deg) brightness(93%) contrast(83%);
    &:hover {
      filter: brightness(0) saturate(100%) brightness(0) saturate(100%) invert(87%) sepia(39%) saturate(207%) hue-rotate(107deg) brightness(75%) contrast(83%);
    }

    button{
      margin-top: 0px;
    }
  }

  .mejs-horizontal-volume-slider {
    height: 18px;
    margin-top: 6px;
    width: 80px;
  }

  .mejs-horizontal-volume-total {
    height: 18px;
    width: 75px;
  }

  .mejs-horizontal-volume-current {
    background: $accent-color;
    &:hover {
      filter: brightness(0) saturate(100%) brightness(0) saturate(100%) invert(87%) sepia(39%) saturate(207%) hue-rotate(107deg) brightness(75%) contrast(83%);
    }

  }

}