/******************************************************************
Site Name:
Author:

Stylesheet: Story Player Stylesheet

******************************************************************/

#story-player{
    display:none;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: $black;
    height: 200px;
}

#audio-player {
    width: 100%;
}

#under-player-audio{
    margin-top: 25px;
}

#player-description {
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

#player-download {

    margin-left: 100px;
    vertical-align: top;
}

#player-close {
    margin-left: 100px;
}

#player-tag-btn {
  margin-left: 100px;
}

#player-theme-page {
    margin-left: 100px;
}

#player-tags {
    display: inline-block;
    color: white;
    margin-left: 100px;
}

//Modal page styles, iframed in

body.single-story  {
        min-height: 161px;
        overflow-y: hidden;
        background-color: $accent-color;

    .header {
        display:none;
    }
    .article-header {
    display: none;
}
    .sidebar {
        display:none;
    }

    .footer {
        display: none;
    }

    #wpadminbar {
        display: none;
    }
    #content {
        margin-top: 0px;
        background-color: $accent-color;
    }
}

.fancybox-iframe {
    background-color: $accent-color;
    max-width: 500px;
    max-height: 161px;
}