/******************************************************************
Site Name:
Author:

Stylesheet: Story Table  Stylesheet

******************************************************************/

/*targets content cells and restricts to terms that we want to remove hyperlinks from 
(by default PTP is all or nothing on term hyperlinks, we want only tags)*/
.col-storyteller a,
.col-story_event a
 {
    pointer-events: none;
    cursor: default;
    color: $text-color !important;
    text-decoration: none;
    }  

//hide columns we want to be able to search by but not display
.col-event_fundraisee,
.col-story_location  {
    display:none !important;
}

//hide date on mobile only
@media only screen and (max-width: 800px){
    .col-date{
        display: none !important;
    } 
}

//hide tag button on desktop
@media only screen and (min-width: 801px){
    .col-tag_button{
        display: none !important;
    }
}

.col-listen,
.col-download,
.col-tag_button {
    text-align: center !important;
}


.listen-btn{
    background: $black url(../images/play-small.svg);
    display: inline-block;
}


.download-btn{
    background: $black url(../images/download-small.svg);
    display: inline-block;
}

.table-tag-btn{
    background: $black url(../images/add-small.svg);
    display: inline-block;
}

.posts-table-wrapper {
    margin-bottom: 24px;
    flex-grow: 1;
    max-width: 1400px;

}

.dataTables_wrapper {
    display: flex;
    justify-content: center;
}

.archive-wrapper {
    min-height: 100vh;
}
