/******************************************************************
Site Name:
Author:

Stylesheet: Story Player Stylesheet

******************************************************************/

#story-player{
    display:none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $black;
    height: 200px;
}

#audio-player {
    width: 100%;
}

#under-player-audio{
    margin-top: 30px;
    margin-bottom:15px;
    position: relative;
    bottom: 10px;
}

#player-description {
    color: white;
    margin-left: 60px;
    margin-top: 0px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}


#player-tag-btn {
  margin-left: 100px;
}

#player-theme-page {
    margin-left: 100px;
}

#player-tags {
    display: inline-block;
    margin-left: 100px;
    color: white;
}




#player-close{
    display: inline-block;
    position: absolute;
    background:transparent url(../images/close.svg);
    height: 64px;
    width: 64px;
    right: 60px;
    filter: invert(87%) sepia(39%) saturate(207%) hue-rotate(107deg) brightness(93%) contrast(83%);
    &:hover{
      filter: invert(87%) sepia(39%) saturate(207%) hue-rotate(107deg) brightness(75%) contrast(83%);
    }
  }
//icon label text
.player-label {
    font-family: $sans-serif;
    font-size: 2rem;
    position: relative;
    height: inherit;
    line-height: 64px;
    vertical-align: middle;

    
}

#label-close{
    left: -90px;
}

//Modal page styles, iframed in

body.single-story  {
        min-height: 161px;
        overflow-y: hidden;
        background-color: $accent-color;

    .header {
        display:none;
    }
    .article-header {
    display: none;
}
    .sidebar {
        display:none;
    }

    .footer {
        display: none;
    }

    #wpadminbar {
        display: none;
    }
    #content {
        margin-top: 0px;
        background-color: $accent-color;
    }


}

.fancybox-iframe {
    background-color: $accent-color;
}