/******************************************************************
Site Name:
Author:

Stylesheet: Story Player Stylesheet

******************************************************************/

#story-player{
    display: none;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
    background-color: $black;
    border: 5px $accent-color solid;
    justify-content: center;
    p {
        font-size: 18px;
    }



}

#player-content{
    max-width: 1400px;
    width: 100%;
    @media only screen and (min-width: 1100px){
        padding-bottom: 15px;        
    }
}

//First Row

#audio-embed{
    @media only screen and (min-width: 1100px){
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
            .col4_5{
            width: 79%;
            }
            .col1_5{
                width: 18%;
                }
        }
}

#audio-buttons {
    display:flex;  
    justify-content: space-between;
    .col1_3 {
        width: 64px

    }

    @media only screen and (max-width: 1100px) {
    margin: 5px 25px 0 25px;
    }
}

#player-play-placeholder{
    @media only screen and (min-width: 1100px) {
    display:none;
    }
}

#player-next{
    display: inline-block;
    background:transparent url(../images/next.svg);
  }

  #player-previous{
    display: inline-block;
    background:transparent url(../images/previous.svg);
  }



#player-close{
    display: inline-block;
    background:transparent url(../images/close.svg);
}

//Second row


#under-player-audio{
    margin-top: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (min-width: 1100px) {
        .col1_5{
        width: 15%;
         }
        .col2_5{
          width: 18%;
          display: flex;
        }
        .col3_5{
          width: 18%;
          display: flex;
        }
        .col4_5{
          width:18%;
          display: flex;
        }

        .col5_5{
            width:25%
        }

        .col1_4{
            width:24%;
        }
        
        .col2_4{
            width: 20%;
            display: flex;
        }

        .col3_4{
            width: 20%;
            display: flex;
        }

        .col4_4{
            width: 36%;
        }
    }
    @media only screen and (max-width: 1100px) {
        text-align: center;
        margin-top: 15px;
        justify-content: center;
        padding-bottom: 15px;
        }
    
    
}

#player-description {
    color: white;
    max-width: 200px;
    margin: 0;
    justify-content: center;
    @media only screen and (max-width: 1100px) {
        max-width: 100%;
        margin: 0 25px 0 25px;
        font-size: 6.25vw;
        }
}

#player-name{
    @media only screen and (max-width: 1100px) {
    display: inline;
    }
}

#player-name:after{
    @media only screen and (max-width: 800px) {
    content: " --";
    }
}


#player-theme{
    color: white;
    text-decoration: underline !important;
    @media only screen and (max-width: 1100px) {
    display: inline;
    }
}

#player-download-btn {
    background:transparent url(../images/download.svg);
    display: inline-block;
    @media only screen and (max-width: 1100px) {
        display: none;
        }    
}  

#player-tag-btn {
    background:transparent url(../images/add.svg);
    display: inline-block;
    @media only screen and (max-width: 1100px) {
    display: none;
    }
}

#player-theme-btn{
    background:transparent url(../images/playlist.svg);
    display: inline-block;
    @media only screen and (max-width: 1100px) {
    display: none;
    }
}

.player-btn-label {
    display: inline-block;
    color: white; 
    padding: 0 10px;
    margin: 0;
    height: 64px;
    line-height: 64px;
    @media only screen and (max-width: 1100px) {
        display: none;    
    }
}

.player-btn-wrapper {
        text-decoration: none;
}


#player-tag-wrapper {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    h2{
        width: 100%;
        margin: 0;
    }
    p{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
    }

    @media only screen and (max-width: 1100px) {
        display: none;
        }  
}

