/******************************************************************
Site Name:
Author:

Stylesheet: Download Modal Stylesheet

******************************************************************/

#support-modal{
    background-color: $black;
    border: 5px $accent-color solid;
    max-width: 90%;
    h2, p{
    color: white;
    }

    .support-logo-wrapper {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        border-bottom: 2px solid white;
        margin-bottom: 30px;
        text-decoration: none;

        .support-logo {
            width: 80%;
            height: 100%;
            min-height: 48px;
            background: url(../images/va-humanities-white.png);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;

        }
    }


    #support-button-wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        h3 {
            margin: 0;
            color: white;
        }
        #support-button { 
            max-height: 33px;
            margin: 10px 0 0 0;
        }
    }

        
    .fancybox-close-small svg{
        filter: invert(100%) sepia(5%) saturate(7470%) hue-rotate(207deg) brightness(109%) contrast(100%);
    }

}

@media only screen and (min-width: 1250px){
    #support-modal {
        max-width: 500px;
        
        #support-title{
            text-align: initial;
        }

        #support-button-wrapper {
            display: inline-flex;
            flex-direction: row;
            text-align: initial;

            #support-button { 
                margin: 0 0 0 20px;
            }
    
        }

    }
}
