/******************************************************************
Site Name:
Author:

Stylesheet: Tag Form Modal Stylesheet

******************************************************************/

body.single-story {
    overflow-y: hidden;
}



#tag-form-wrapper {
    padding: 25px 25px 10px 25px;
    
}


#tag-form-title{
    margin: 0 auto 25px auto;
    color: white;
    font-size: 1.4em;

}

#tag-form {
    display: block;
    margin: 0 auto 0 auto;
    color: white;
    font-weight: normal;
    input, textarea {
        background: $background-grey;
    }

    input, textarea{
        max-width: 250px;
    }

    label{
        font-weight: normal;
    }

    .af-spinner,
    .acf-spinner {
        height: 20px;
        width: 20px;
        margin-left: 10px;
        vertical-align: text-top;
        background: transparent url(../images/spinner.gif) no-repeat 50% 50%;
        display:none;
    }
}

.single-story  {

    
    
    .header {

        display:none;
    }
    .article-header {
        display: none;
    }
    .sidebar {
        display:none;
    }

    .footer {
        display: none;
    }

    #wpadminbar {
        display: none;
    }
    #content {
        margin-top: 0px;
        background-color: $black;
        height: 300px;
        display: flex;
        align-items: center;
        border: 5px $accent-color solid;

    }


    }

.fancybox-iframe {
    background-color: $accent-color;
    }