/******************************************************************
Site Name:
Author:

Stylesheet: Theme Tax Page Stylesheet

******************************************************************/



#theme-intro {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;

    .col1_3{
        width: 30%;
        display: flex;
        flex-wrap: wrap;
    }
    .col2_3{
        width: 30%;
    }
    .col3_3{
        width: 40%;
    }
}

#theme-title{
    margin-top: 0;
    width: 100%;
}

#theme-back-btn{
    display: inline-block;
    margin-left: 100px;
}

