/******************************************************************
Site Name:
Author:

Stylesheet: Theme Tax Page Stylesheet

******************************************************************/

#theme-intro {
    display: block;
}

#theme-intro-text {
    display: inline-block;
}

#theme-back-btn{
    display: inline-block;
    margin-left: 100px;
}

